[submodule "site/themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/simplicity"]
	path = themes/simplicity
	url = https://github.com/eshlox/simplicity
